.widget {
    position: sticky;
    top: 80px;
    flex: 0.2;
    background-color: white;
    border-radius: 10px;
    height: fit-content;
    border: 1px solid lightgray;
    padding-bottom: 10px;
}

.widget-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.widget-header > h2 {
    font-size: 18px;
    font-weight: 400;
}

.widget-article {
    display: flex;
    padding: 10px;
}

.widget-article:hover {
    cursor: pointer;
    background-color: whitesmoke;
}

.widget-article-left {
    color: #0177b7;
    margin-right: 5px;
}

.widget-article-left > .MuiSvgIcon-root {
    font-size: 15px;
}

.widget-article-right {
    flex: 1;
}

.widget-article-right > h4 {
    font-size: 14px;
}

.widget-article-right > p {
    font-size: 12px;
    color: gray;
}